{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Categorized Affect Map</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" /> 
    <style type="text/css">
    body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: rgba(73,155,234,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,0) 100%);
    background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(32,124,229,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
  }
  .fixed-action-btn {
    right: inherit !important;
    /* left: 3px !important; */
    left: 15px !important;
    /* bottom: 23px !important; */
    bottom: 40px !important;
    }
    .leaflet-popup{
        width: 440px !important;
    }
    .leaflet-popup-content-wrapper{
        width: 440px !important;
    }
    </style>
  </head>

  <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper cyan">
                    <a href="{% url 'map:index'%}" class="brand-logo center"><img src="{% static 'map/images/logo.png' %}" style="height: 130px !important;width: 130px !important;transform: rotate(0deg) !important;" alt="Categorized Affect Map"></a>
                </div>
            </nav>
        </div>

        <div class="fixed-action-btn">
            <a class="waves-effect waves-light btn-floating btn-large cyan pulse tooltipped" data-position="right" data-tooltip="Menu">
                <i class="large material-icons">nature_people</i>
            </a>
            <ul>
                <li><a href="{% url 'map:index'%}" class="waves-effect waves-light btn-floating red tooltipped" data-position="right" data-tooltip="Add"><i class="material-icons">add_location</i></a></li>
                <li><a href="#modal5" class="waves-effect waves-light btn-floating yellow darken-1 modal-trigger tooltipped" data-position="right" data-tooltip="Request"><i class="material-icons">local_activity</i></a></li>
                <li><a href="#modal2" class="waves-effect waves-light btn-floating green modal-trigger tooltipped" data-position="right" data-tooltip="Map View"><i class="material-icons">map</i></a></li>
                <li><a href="#modal4" class="waves-effect waves-light btn-floating blue modal-trigger tooltipped" data-position="right" data-tooltip="About"><i class="material-icons">copyright</i></a></li>
            </ul>
        </div>
                    
        <section>
            <iframe src="{% url 'map:category'%}" width="100%" style="height: 89vh;" frameborder="0" allowfullscreen></iframe>
        </section>

        <div id="modal2" class="modal modal-fixed-footer">
            <form method="POST" action="{% url 'map:map-view' %}">
                {% csrf_token %}
                <div class="modal-content">
                            {% if latest_area_list %}
                            <select id="area_select" name="Area">
                                <option value="" disabled selected>Choose your area</option>
                                {% for area in latest_area_list %}
                                    <option id="area{{forloop.counter}}" value="{{area.id}}">{{area.name}}</option>
                                {% endfor %}
                            </select>
                            {% else %}
                                <p>No areas are available.</p>
                            {% endif %}
                            <label>Area</label>
                             <br/>
                            {% if latest_category_list %}
                            <select id="category_select" name="Category">
                                <option value="" disabled selected>Choose your Category</option>
                                {% for category in latest_category_list%}
                                    <option id="category{{forloop.counter}}" value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                            {% else %}
                                <p>No categories are available.</p>
                            {% endif %}
                            <label>Category</label>
                </div>
                <div class="modal-footer">
                <input type="submit" class="modal-close waves-effect waves-green btn-flat" value="Submit">
                </div>
            </form>
          </div>

          <div id="modal4" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>About Categorized Affect Map</h4>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">CAM (Categorized Affect Map)</span>
                            <p> CAM (Categorized Affect Map) is part of a research project at the American International University Bangladesh (AIUB), Bangladesh, which aims to collect people's affective/emotional reponses towards different stimuli/environments. You can use this in online manner, we are looking forward to make it offline as well, however, we currently collecting data from two populated areas, Bashundhara R/A and Wari. For other areas we are expecting requests to add.</p>
                        </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">What data will I be sharing?</span>
                            <p>While you report your feelings, your mobile phone's or desktops GPS estimates your current location. We also use a most approximation api from leaflet.js to get current location for a user. Your answers and location information are then anonymously and securely sent to our database. We don't record your name or any other identifying information including ip address. Therefore, we won't know who you are.</p>
                        </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">How will the data be used?</span>
                            <p>The data contributed are solely used for academic research purposes. We aim to investigate how people affectively response to different environments, and how these affective responses influence their behaviors, e.g, approaching or avoiding particular places.</p>
                        </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Acknowledgements</span>
                            <p>Big thanks should be given to American International University Bangladesh for helping and inspiring for this project. We also would like to thank our honorable Supervisor Professor Dr. Tabin Hasan sir for accepting this project proposal and accelerating our works with his supervision, guidance and continuous support. We would also appreciate for the encouragement given by all contributors adn supporting stuffs.</p>
                        </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                        <div class="col s12 m12">
                            <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <p> For more information regarding CAM (Categorized Affect Map), please contact <a href="mailto:categorizedaffectmap@gmail.com">categorizedaffectmap@gmail.com .</a> Thank you for using CAM (Categorized Affect Map).</p>
                            </div>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="modal-footer">
                <a href="{% url 'map:index'%}" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
            </div>
            
              <!-- Modal Structure -->
            <div id="modal5" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card grey lighten-5">
                        <div class="card-content white-text">
                            <span class="card-title" style="color:black;">Request For Area: (Area Name)</span>
                            <p>
                            <form method="POST" action="{% url 'map:submit-area-name-request'%}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input value="Like. Gulshan" id="requested_area_name" name="requested_area_name" type="text" class="validate">
                                        <label class="active" for="requested_area_name">Area Name</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="submit" class="modal-close waves-effect waves-green btn btn-flat" value="Submit">
                                    </div>
                                </div>
                            </form>    
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card grey lighten-5">
                        <div class="card-content white-text">
                            <span class="card-title" style="color:black;">Request For Category: (Category Name)</span>
                            <p>
                            <form method="POST" action="{% url 'map:submit-category-name-request'%}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input value="Like. Unemployment" id="requested_category_name" name="requested_category_name" type="text" class="validate">
                                        <label class="active" for="requested_category_name">Category Name</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input type="submit" class="modal-close waves-effect waves-green btn btn-flat" value="Submit">
                                    </div>
                                </div>
                            </form>  
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <a href="{% url 'map:index'%}" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
          </div>
    

    <!-- <div id="modal3" class="modal">
        <form method="POST" action="{% url 'map:map-view' %}">
            {% csrf_token %}
        <div class="modal-content">
            <label>Area</label>
            <select class="browser-default" name="Area">
              <option value="" disabled selected>Choose your option</option>
              {% for area in latest_area_list %}
              <option value="{{area.id}}">{{area.name}}</option>
              {% endfor %}
            </select>

            <label>Category</label>
            <select class="browser-default" name="Category">
              <option value="" disabled selected>Choose your option</option>
              {% for category in latest_category_list%}
              <option value="{{category.id}}">{{category.name}}</option>
              {% endfor %}
            </select>
        </div>
        <div class="modal-footer">
            <input type="submit" class="modal-close waves-effect waves-green btn-flat" value="Submit">
        </div>
        </form>
      </div> -->

      
                
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script type="text/javascript">
            $(document).ready(function(){
            $('.fixed-action-btn').floatingActionButton({
                direction: 'top',
                hoverEnabled: false,
            });
            });

            $(document).ready(function(){
            $('.tooltipped').tooltip();
            });

            $(document).ready(function(){
            $('.modal').modal();
            });

            $(document).ready(function(){
                $('select').formSelect();
            });
            $(document).ready(function() {
                M.updateTextFields();
            });
    
    </script>
  </body>
</html>




